@use "./variables.scss" as *;

// put your custom CSS here!

.explorer {
.explorer-content {
    .folder-container {

	margin: 0;
      }

	& > div {
        width: 100%;
      }

      &:hover {
        font-size: 1rem;
        line-height: 1.5rem;
        background-color: transparent;
        border-radius: 0.25rem;
      }
}

ul.explorer-ul li {
a {
        &.active,
        &:not(.folder-title):hover {
          font-size: 1rem;
          line-height: 1.5rem;
          color: var(--secondary);
          background-color: transparent;
          border-radius: 0.25rem;
	}}}}

a.internal-link svg {
  display: none;
}
a.external-link svg {
  display: none;
}

h1[id]>a[href^=\#],
h2[id]>a[href^=\#],
h3[id]>a[href^=\#],
h4[id]>a[href^=\#],
h5[id]>a[href^=\#],
h6[id]>a[href^=\#] { margin:0rem; }

  .callout.callout[data-callout~="infobox"]:not(.is-collapsed)
  > .callout-title {
  padding: 0;
    display: none;
}

  .table-container>table>* {
    line-height:1.35em;
  }