@use "./variables.scss" as *;

// put your custom CSS here!

.explorer {
.explorer-content {
    .folder-container {

	margin: 0;
      }

	& > div {
        width: 100%;
      }

      &:hover {
        font-size: 1rem;
        line-height: 1.5rem;
        background-color: transparent;
        border-radius: 0.25rem;
      }
}
ul.explorer-ul li {
a {
        &.active,
        &:not(.folder-title):hover {
          font-size: 1rem;
          line-height: 1.5rem;
          color: var(--secondary);
          background-color: transparent;
          border-radius: 0.25rem;
	}
}
}
}